.navbar {
    background-color: #e4e5e6;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top:0;
    box-shadow:0px 0px 4px #424242 ;
    padding: 1.5%;
  }
  
.navbar-brand {
    text-decoration: none;
    font-size: 1.5em;
    color: #000000;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
  }
  
  .nav-link:hover {
    cursor: pointer;
    color: #4d4d4e;
    }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #d3cfcf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    width: 10%;
    text-align: center;
    margin-top: 2px;
  }
  .dropdown-menu a{
   text-decoration: none;
   color: #120f7a;
   font-weight: bold;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li:hover {
    background-color: #f8f9fa;
  }
  
  .navbar-toggler-icon {
    display: none;
  }
  .nav-dropdown{
    display: flex;
  }
  @media (max-width: 768px){
    .navbar-nav {
      display: none;
      background-color: #f8f9fa;
      width: 100%;
      flex-direction: column;
      text-align: center;
    }
    .navbar-nav li{
        padding-top: 2rem;
    }
    .nav-dropdown{
        display: block;
      }
    .nav-link{
        display: block;
    }
    .navbar.show .navbar-nav {
        display: flex;
      }
    .navbar{
        flex-direction: column;
    }
    .navbar-nav li {
        padding-top: 2rem;
      }
    .navbar-toggler-icon {
      display: block;
      cursor: pointer;
      margin-left: auto;
      font-size: 1.5em;
    }
    .dropdown-menu{
        position:static;
        width: 100%;
    }
    .dropdown-menu li:hover {
        background-color: #535658;
      }
  }